@model IEnumerable<FormBasedAuth.Models.Cars>
@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Logout", "logoff", "Login", null, new { @class = "btn btn-warning" })</h2>


@Html.ActionLink("Create", "Create", "Home", null, new { @class = "btn btn-primary" })


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Ajax Create Car</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">Add Car</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="CarId">Id</label>
                        <input type="text" class="form-control" id="CarId" placeholder="CarId" disabled="disabled"/>
                    </div>
                    <div class="form-group">
                        <label for="Model">Model</label>
                        <input type="text" class="form-control" id="Model" placeholder="Model" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" id="Name" placeholder="Name" />
                    </div>
                    <div class="form-group">
                        <label for="Capability">Capability</label>
                        <input type="text" class="form-control" id="Capability" placeholder="Capability" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>  

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Model
            </th>
            <th>
                Name
            </th>
            <th>
                Capability
            </th>
            <th>
                Edit/Delete
            </th>
        </tr>
    </thead>
    <tbody class="tbody">
        @foreach (var value in Model)
        {
            <tr>
                <td id="CarID">@value.Id</td>
                <td id="Model">@value.Model</td>
                <td id="Name">@value.Name</td>
                <td id="Capability">@value.Capability</td> 
                <td><a href="#" onclick="return getbyID(@value.Id)">Edit</a> | <a href="#" onclick="Delele(@value.Id)">Delete</a></td>
            </tr>
        }
    </tbody>
</table>





<script>
    //Load Data in Table when documents is ready  
    $(document).ready(function () {
        loadData();
    });  

    //Load Data function  
    function loadData() {
        $.ajax({
            url: "/Home/GetAllCars",
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = '';
                $.each(result, function (key, item) {
                    html += '<tr>';
                    html += '<td>' + item.Id + '</td>';
                    html += '<td>' + item.Model + '</td>';
                    html += '<td>' + item.Name + '</td>';
                    html += '<td>' + item.Capability + '</td>';
                    html += '<td><a href="#" onclick="return getbyID(' + item.Id + ')">Edit</a> | <a href="#" onclick="Delele(' + item.Id + ')">Delete</a></td>';
                    html += '</tr>';
                });
                $('.tbody').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Add Data Function   
    function Add() {
        //var res = validate();
        //if (res == false) {
        //    return false;
        //}

        var carObj = {
            CarId: $('#CarId').val(),
            Model: $('#Model').val(),
            Name: $('#Name').val(),
            Capability: $('#Capability').val()
        };
        $.ajax({
            url: "/Home/AddCar",
            data: JSON.stringify(carObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Function for getting the Data Based upon Employee ID  
    function getbyID(CarId) {
        $('#Model').css('border-color', 'lightgrey');
        $('#Name').css('border-color', 'lightgrey');
        $('#Capability').css('border-color', 'lightgrey');
        $.ajax({
            url: "/Home/GetCarById/" + CarId,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                $('#CarId').val(result.Id);
                $('#Model').val(result.Model);
                $('#Name').val(result.Name);
                $('#Capability').val(result.Capability);

                $('#myModal').modal('show');
                $('#btnUpdate').show();
                $('#btnAdd').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }

    //function for updating employee's record  
    function Update() {
        var res = validate();
        if (res == false) {
            return false;
        }
        var empObj = {
            Id: $('#CarId').val(),
            Model: $('#Model').val(),
            Name: $('#Name').val(),
            Capability: $('#Capability').val(),
        };
        $.ajax({
            url: "/Home/UpdateCar",
            data: JSON.stringify(empObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#myModal').modal('hide');
                $('#CarId').val("");
                $('#Model').val("");
                $('#Name').val("");
                $('#Capability').val("");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //function for deleting employee's record  
    function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Home/DeleteCar/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }

    //Function for clearing the textboxes  
    function clearTextBox() {
        $('#CarId').val("");
        $('#Model').val("");
        $('#Name').val("");
        $('#Capability').val("");
        $('#btnUpdate').hide();
        $('#btnAdd').show();
        $('#Model').css('border-color', 'lightgrey');
        $('#Name').css('border-color', 'lightgrey');
        $('#Capability').css('border-color', 'lightgrey');
    }
    //Valdidation using jquery  
    function validate() {
        var isValid = true;
        if ($('#Model').val().trim() == "") {
            $('#Model').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Model').css('border-color', 'lightgrey');
        }
        if ($('#Name').val().trim() == "") {
            $('#Name').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Name').css('border-color', 'lightgrey');
        }
        if ($('#Capability').val().trim() == "") {
            $('#Capability').css('border-color', 'Red');
            isValid = false;
        }
        else {
            $('#Capability').css('border-color', 'lightgrey');
        }
        return isValid;
    }  

</script>
